# ts
**/node_modules/
/webroot/scripts/*.js

# vim
**/*.swp

# python
**/*.pyc
**/__pycache__/

# jupyter
**/.ipynb_checkpoints/

# data
resources/
src/code2seq/java-large-model.tar.gz
src/code2seq/models/java-large-model/model_iter52.release.data-00000-of-00001
!resources/README.md
!tests/data/
script/*.sif

# environment
*.ftpconfig

.idea
/src/wandb/run-*
/src/wandb/debug.log
*.html

.nv/
.keras/
**/*.pkl.gz
